$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$black: #000;
$grey: #808080;
$white: #fff;

body {
  font-family: 'Ubuntu', sans-serif;
  // background-color: #fecaac;
}

.body-content {
  margin-top: 120px;
  padding: 0 25px;
}

.body-image {
  background-image: url('../../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.color-change {
  background-color: $white;
  box-shadow: 0 0 1.5rem $grey;
  height: 100vh;
}

.delete-div {
  border-right: 2px solid $grey;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 15px;
  padding-right: 15px;
}

.error-message {
  border-radius: 3px;
  text-align: left;
}

.hidden {
  display: none;
}

.icons {
  display: inline;
}

.input-group {
  margin-bottom: 15px;
}

.log {
  margin-top: 15px;
}

.modal-body {
  overflow: hidden;
}

.modal-error-message {
  border-radius: 3px;
  font-size: 20px;
  padding: 5px 10px;
}

.navbar-inverse {
  box-shadow: 0 0 2rem $black;
  color: $white;
}

.nav-button {
  margin-right: 5px;
  margin-top: 20px;
}

.r-border {
  border-right: 2px solid $grey;
}

.status {
  border-radius: 3px;
  font-size: 20px;
  left: 50%;
  margin-top: 90px;
  padding: 0 5px;
  position: fixed;
  transform: translateX(-50%);
}

.update-forms {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;
  padding-left: 10px;
}

.up-message {
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 10px;
}

.welcome {
  color: $white;
  display: inline;
  font-size: 5vw;
  left: 50%;
  position: relative;
  text-shadow: 0 0 4px $black;
}

.welcome-two {
  color: $white;
  display: inline;
  font-size: 5vw;
  left: 65%;
  position: relative;
  text-shadow: 0 0 4px $black;
}
